

*{
    box-sizing: border-box;
    margin-block-start: 0rem; 
}

header{
    margin-block-end: 0rem; 
    display:flex;
    justify-content: center;
    align-items: baseline;
    height: 200px;
    background-image: url("assets/pictures_of_a_cat.jpg");
    background-size: cover;
}

body{
    margin: none;
    font-family: Verdana;
    width: 1000px;
    margin: 0rem;
}

body h2 {
    margin-bottom: 0rem;
}

nav{
    color:white;
    background-color: #f76c6c;
    height: 4rem;
}

nav ul{
display: flex;
list-style-type: none;
padding-inline-start: 4px;
margin-block-end: 0rem;
}

nav li {
margin-right: 0.5rem;
margin-right: none;
}

h1{
    color:white;
}

main{
    background-color: rgb(241, 239, 239); 
    height: 26rem;
}

main p {
    max-width: 65ch;
    line-height: 1.5;
}
section{
    margin-inline-start: 9rem;
}

main UL {
display: grid;
grid-template-columns: repeat(2, 350px);
grid-template-rows: repeat(2, 60px);
gap: 13px;
list-style-type: none;
font-weight: bold;
padding-left: 0rem;

}

main ul li {
    display: flex;
    background-color: white;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    box-shadow: -5px 6px rgb(0 0 0 / 5%);
    padding-left: 12px;
}

footer p {
background-color: #f76c6c;
height: 3rem;
margin-bottom: 0rem;
display: flex;
justify-content: left;
align-items: center;
}
