

*{
    box-sizing: border-box;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

body{
    margin: none;
    line-height: 1.5;
    font-family: Verdana;
    width: 1000px;
}

nav{
    color:white;
    background-color: #f76c6c;
}

nav ul{
display: flex;
list-style-type: none;
padding-inline-start: 4px;
}

nav li {
margin-right: 0.5rem;
margin-right: none;
}

header{
    height: 200px;
    background-image: url("assets/pictures_of_a_cat.jpg");
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    color:white;
}

main{
    background-color: rgb(241, 239, 239);
}

main p {
    max-width: 65ch;
}
section{
    margin-inline-start: 9rem;
}

main UL {
display: grid;

}
